<div>
    <h1>
        {{ flow.module }} - {{ flow.organization }}
    </h1>
    <p><b>ID:</b> {{ flow.id }}</p>
    <p><b>Description:</b> {{ flow.description }}</p>
    <p><b>State:</b>
        {% if flow.state == True %}
            Ativo
        {% else %}
            Inativo
        {% endif %}
    </p>
    <p><b>Owner:</b> {{ flow.owner }}</p>
    <p><b>Created Date:</b> {{ flow.created_date }}</p>
    {% if notification %}
        <h2>
            Transaction:
        </h2>
        {% for noti in notification %}
            <a href="{% url 'flow:showNotif' noti.id %}" class="table-link">
                <p>{{noti.id}}</p>
            </a>
            <p>{{noti.typeNotification}}</p>
            <a href="{% url 'flow:editNotif' noti.id %}" class="table-link">
                <p>EDIT TRANSACTION</p>
            </a>
            <p>--------------------</p>
        {% endfor %}
    {% endif %}
</div>