<div>
    <h1>
        {{ notif.id }} - {{ notif.typeNotification }}
    </h1>
    <p><b>ID:</b> {{ notif.id }}</p>
    <p><b>Type Notification:</b> {{ notif.typeNotification }}</p>
    <p><b>State:</b>
        {% if notif.state == True %}
            Ativo
        {% else %}
            Inativo
        {% endif %}
    </p>
    <p><b>Reprocessable:</b> {{ notif.reprocessable }}</p>
    <p><b>Manageable:</b> {{ notif.manageable }}</p>
    <p><b>Created Date:</b> {{ notif.created_date }}</p>
    {% if origen_con %}
        --------------------
        <p><b>Origin id:</b> {{ origen_con.origin_id }}</p>
        <p><b>Origin Connection:</b> {{ origen_con.typeOriginConnection }}</p>
        <p><b>Protocol:</b> {{ origen_con.protocol }}</p>
        <p><b>Url:</b> {{ origen_con.url }}</p>
        --------------------
    {% endif %}
    {% if destiny_con %}
        <p><b>Destiny Id:</b> {{ destiny_con.destiny_id }}</p>
        <p><b>Destiny Connection:</b> {{ destiny_con.typeDestinyConnection }}</p>
        <p><b>Protocol:</b> {{ destiny_con.protocol }}</p>
        <p><b>Url:</b> {{ destiny_con.url }}</p>
    {% endif %}
</div>